/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: 'Cabin', sans-serif;
}
.header{
    background-color: #2D3040;
    text-align: center;
}
.logo{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 10px;
    color: white;
    
}
.nav-bar{
    font-size: 18px;
    text-transform: uppercase;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 25px;
}
.container{
    width:1500px;
    margin: 0 auto;
}
.hero{
    padding: 200px;
    background-color: #2D3040;
}
h1{
    padding-bottom: 20px;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
}
h3{
    text-transform: uppercase;
    color: grey;
    font-size: 20px;
    padding-top: 30px;
}
.general{
    padding: 200px;
}
h2{
    padding-bottom: 50px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
}
img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-bottom: 50px;
}
p{
    word-spacing: 1px;
    padding-top: 30px;
    line-height: 2.5;
    font-size: 25px;
    color:white;
    text-transform: lowercase;
}
.blue{
    background-color: #4B5C95;
}
.blue1{
    background-color: #45548C;
}
.blue2{
    background-color: #3E4E84;
}
.footer{
    background-color: #2D3040;
    padding: 70px;
}
small{
    font-size: 20px;
    padding: 10px;
    color:grey;
}